.dropdown-submenu {
    position: relative;
}

/* Position dropdown submenu to the right
(left edge starts at 100% mark of containing dropdown menu)*/
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
       -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
  }
  
/* Display dropdown submenu on hover */
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  
/* These classes with > a:after are saying to apply these formatting settings
Right after every anchor element that is a direct child of dropdown-submenu, so it pretty much just
governs that little menu arrow indicating a sub-menu. It's so minor I might remove these */
  .dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: "";
  } 
  
  .dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
  } 

  .bg-red {
    background: #b71818;
  }

  .navbar-nav a{
      color: black;
      font-size: 30px;
      font-weight: bold;
  }

  .navbar-brand{
      color: black;
      font-size: 60px;
      font-weight: bold;
  }

  .navbar-brand:hover{
      color: black
  }

  .dropdown-menu a{
      font-size: 18px;
  }

  #code {
      display: none;
  }

  .code-box {
      display: block;
      background: #f1d900;
      font-family: 'Courier New', Courier, monospace;
      border-style: solid;
      border-width: 2px;
      text-align: left;
      padding: 2em;
  }

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: left;
}

/* tab stuff */
.tab {
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .challenge-tab-content {
    display: none;
    text-align: left;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
  
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }